body{
	height: 100vh;
	background-color:#F0F3F4;
}
.contenedor-principal{
	height: 100vh;
}
.contenedor{
	height: 100vh;
	padding-top: 70px;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.alto-25{
	height: 25vh;
}
.alto-50{
	height: 50vh;
}
.alto-75{
	height: 75vh;
}
.alto-100{
	height: 100vh;
}
.alto-porc-25{
	height: 25%;
}
.alto-porc-50{
	height: 50%;
}
.alto-porc-75{
	height: 75%;
}
.alto-porc-100{
	height: 100%;
}
.ancho-50{
	display: inline-block;
	width: 48%;
}
.ancho-100{
	display: block;
	width: 100%;
}
.oculto{
	display: none;
}
.sin-margen{
	margin: 0 !important;
	padding: 0 !important;
}
.navbar{
	padding-top: 10px;
}
.breadcrumb{
	display: inline;
	background-color: inherit;
}
.breadcrumb-item a{
	font-weight: bold;
	color: white !important;
}
.t1{
	font-size: 2em;
}
.t3{
	font-size: 1.5em;
}
.titulo3{
	display: block;
}
.linea{
	margin-top: 10px;
}
.linea-doble{
	margin-top: 20px;
}
/*---------------------------------
-        Botones de Radio         -
---------------------------------*/
.radio-custom {
	padding-rig: 20px;
	display: inline-block;
}
.radio-custom span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}
.radio-custom span::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #C2C2C2;
	box-shadow:0px 1px 0px #DDDDDD;
	background-color: #FFFFFF;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}
.radio-custom span::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 1px;
	margin-left: -20px;
	-webkit-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-o-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio-custom input[type="radio"] {
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}
.radio-custom input[type="radio"]:disabled{
	cursor: not-allowed;
}
.radio-custom input[type="radio"]:disabled + span{
	opacity: 0.65;
}
.radio-custom input[type="radio"]:disabled + span{
	cursor: not-allowed;
}
.radio-custom input[type="radio"]:checked + span::after {
	font-family: "FontAwesome";
	content: "\f00c";
	font-size: 45px;
	margin-left: -25px;
	margin-top: -13px;
	color: red;
}

/*---------------------------------
-        Botones checkbox         -
---------------------------------*/
.check-custom {
	padding-rig: 20px;
	display: inline-block;
}
.check-custom span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}
.check-custom span::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #C2C2C2;
	box-shadow:0px 1px 0px #DDDDDD;
	background-color: #FFFFFF;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}
.check-custom span::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 1px;
	margin-left: -20px;
	-webkit-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-o-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.check-custom input[type="checkbox"] {
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}
.check-custom input[type="checkbox"]:disabled{
	cursor: not-allowed;
}
.check-custom input[type="checkbox"]:disabled + span{
	opacity: 0.65;
}
.check-custom input[type="checkbox"]:disabled + span{
	cursor: not-allowed;
}
.check-custom input[type="checkbox"]:checked + span::after {
	font-family: "FontAwesome";
	content: "\f00c";
	font-size: 45px;
	margin-left: -25px;
	margin-top: -13px;
	color: red;
}

/*---------------------------------
-             Range               -
---------------------------------*/
.range{
	margin-top: 20px
}

.range input[type="range"]{
	-webkit-appearance: none;
	background: #DDDDDD;
	border: 1px solid #FFFFFF;
}
.range input[type="range"]::-webkit-slider-runnable-track{
	height: 5px;
	-webkit-appearance: none;
	border: none;
	border-radius: 3px;
}
.range input[type="range"]::-webkit-slider-thumb{
	color:black;
	-webkit-appearance: none;
	border: none;
	height: 28px;
	width: calc(100% / 5);
	background: #E59D27;
	margin-top: -12px;
}
.range input[type="range"]:focus{
	outline: none;
}
.range .valor{
	position: absolute;
	margin-top: -15px;
	padding-left: 4px;
	font-weight: bold;
	color: #FFFFFF;
	pointer-events: none;
}

