/**********************
*       Titulos       *
**********************/
.nuevo-evento:HOVER{
	color: blue;
	cursor: pointer;
}
/**********************
*       Opciones      *
**********************/
.opciones{
	margin-top: 2%;
}
.opciones .opcion{
	margin: 0 4% 0 0;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.opciones .opcion:HOVER{
	color: blue;
}
.opciones .activa{
	color: blue;
}

/**********************
*     Predicciones    *
**********************/
.prediccion{
	height: 100%;
}
.prediccion .titulo_dia{
	display: block;
	margin-top: -5%;
	text-align: center;
}
.prediccion img{
	display: block;
	height: 70%;
	margin: 0 auto;
}

.lista_predicciones{
	height: 100%;
}
.predicciones{
	display: inline-block;
	vertical-align: top;
	width: 13%;
	top:0;
	height: 100%;
}
.predicciones .titulo_dia, .imagen, .resumen{
	display: block;
	text-align: center;
}
.predicciones .imagen{
	height: 60%;
}
.predicciones img{
	max-width: 80%;
	max-height: 100%;
}
.fa-thermometer-full{
	color: red;
}
.fa-thermometer-empty{
	color: blue;
}